.blog-post {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.blog-post h3 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 3px;
}

.blog-post p {
  padding-left: 20px;
}

.blog-post span {
  color: grey;
}